<ion-content>

<ion-header [fullscreen]="true">

<ion-toolbar>
  Jack's Weather App
</ion-toolbar>

</ion-header>
<div class="main">
  <button>-----Refresh Information-----</button>
  <br>
  <button>PTSD</button>
  <button>ANXIETY</button>
  <button>CRIPLING DEPRESSION</button>
  <br>

  <span class="City">Galway, </span>
  <br>
  <span class="Date">Mon, 3:54pm</span>

  <div class="icon">
    <img src="../../assets/icon/sun_7.jpg" alt="">
  </div>
  <span class="description">Cloudy</span>
  <span class="temperature">12c, Mild</span>
</div>
<br>
<br>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="day">Mon</ion-col>
    <ion-col class="day">Tue</ion-col>
    <ion-col class="day">Wed</ion-col>
    <ion-col class="day">Thu</ion-col>
    <ion-col class="day">Fri</ion-col>
    <ion-col class="day">Sat</ion-col>
    <ion-col class="day">Sun</ion-col>
  </ion-row>

  <ion-row>
  <ion-col class="precipitation">60%</ion-col>
  <ion-col class="precipitation">60%</ion-col>
  <ion-col class="precipitation">30%</ion-col>
  <ion-col class="precipitation">20%</ion-col>
  <ion-col class="precipitation">60%</ion-col>
  <ion-col class="precipitation">40%</ion-col>
  <ion-col class="precipitation">20%</ion-col>
  <ion-col class="precipitation">30%</ion-col>
</ion-row>

  <ion-row>
    <ion-col class="icon-sm"><img src="../../assets/icon/sun_7.jpg"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/icon/sun_7.jpg"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/icon/sun_7.jpg"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/icon/sun_7.jpg"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/icon/sun_7.jpg"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/icon/sun_7.jpg"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/icon/sun_7.jpg"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="hi-sm">25*c</ion-col>
    <ion-col class="hi-sm">25*c</ion-col>
    <ion-col class="hi-sm">25*c</ion-col>
    <ion-col class="hi-sm">25*c</ion-col>
    <ion-col class="hi-sm">25*c</ion-col>
    <ion-col class="hi-sm">25*c</ion-col>
    <ion-col class="hi-sm">25*c</ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="lo-sm">15*c</ion-col>
    <ion-col class="lo-sm">15*c</ion-col>
    <ion-col class="lo-sm">15*c</ion-col>
    <ion-col class="lo-sm">15*c</ion-col>
    <ion-col class="lo-sm">15*c</ion-col>
    <ion-col class="lo-sm">15*c</ion-col>
    <ion-col class="lo-sm">15*c</ion-col>
  </ion-row>

</ion-grid>
</ion-content>