<ion-content>

<ion-header [fullscreen]="true">

<ion-toolbar>
  Jack's Weather App
</ion-toolbar>

</ion-header>
<div class="main">
  <span class="City">Galway</span>
  <span class="Date">Mon, 3:54pm</span>

  <div class="icon">
    <img src="../../assets/" alt="">
  </div>

  <span class="description">Cloudy</span>
  <span class="temperature">12c, Mild</span>

</div>
<ion-grid>
  <ion-row>
    <ion-col class="day">Mon</ion-col>
    <ion-col class="day">Tues</ion-col>
    <ion-col class="day">Wedn</ion-col>
    <ion-col class="day">Thur</ion-col>
    <ion-col class="day">Fri</ion-col>
    <ion-col class="day">Sat</ion-col>
    <ion-col class="day">Sun</ion-col>
  </ion-row>

  <ion-row class="precipitation">60%</ion-row>
  <ion-row class="precipitation">---</ion-row>
  <ion-row class="precipitation">20&</ion-row>
  <ion-row class="precipitation">60%</ion-row>
  <ion-row class="precipitation">---</ion-row>
  <ion-row class="precipitation">---</ion-row>
  <ion-row class="precipitation">---</ion-row>

  <ion-row>
    <ion-col class="icon-sm"><img src="../../assets/"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/"></ion-col>
  </ion-row>
</ion-grid>
</ion-content>