<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-buttons></ion-back-buttons>
    <ion-title>Storage</ion-title>
    <ion-list>
      <ion-radio-group [(ngModel)]="myStatus">
        <ion-list-header>
          <ion-label>Name</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Happy</ion-label>
          <ion-radio slot="start" value="happy"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Sad</ion-label>
          <ion-radio slot="start" value="sad"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>energetic</ion-label>
          <ion-radio slot="start" value="energetic"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
