<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-buttons></ion-back-buttons>
    <ion-title>Calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



<div class="main">
  <span class="Month">Month</span>
  <span class="Year">2022</span>
</div>

<!-- grid -->
<ion-grid>
  <ion-row><!--Days-->
    <ion-col class="day">Sun</ion-col>
    <ion-col class="day">Mon</ion-col>
    <ion-col class="day">Tue</ion-col>
    <ion-col class="day">Wed</ion-col>
    <ion-col class="day">Thu</ion-col>
    <ion-col class="day">Fri</ion-col>
    <ion-col class="day">Sat</ion-col>
  </ion-row>
  <br>
  <ion-row><!-- Dates -->
    <ion-col class="day">001</ion-col>
    <ion-col class="day">002</ion-col>
    <ion-col class="day">003</ion-col>
    <ion-col class="day">004</ion-col>
    <ion-col class="day">005</ion-col>
    <ion-col class="day">006</ion-col>
    <ion-col class="day">007</ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col class="day">008</ion-col>
    <ion-col class="day">009</ion-col>
    <ion-col class="day">010</ion-col>
    <ion-col class="day">011</ion-col>
    <ion-col class="day">012</ion-col>
    <ion-col class="day">013</ion-col>
    <ion-col class="day">014</ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col class="day">015</ion-col>
    <ion-col class="day">016</ion-col>
    <ion-col class="day">017</ion-col>
    <ion-col class="day">018</ion-col>
    <ion-col class="day">019</ion-col>
    <ion-col class="day">020</ion-col>
    <ion-col class="day">021</ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col class="day">022</ion-col>
    <ion-col class="day">023</ion-col>
    <ion-col class="day">024</ion-col>
    <ion-col class="day">025</ion-col>
    <ion-col class="day">026</ion-col>
    <ion-col class="day">027</ion-col>
    <ion-col class="day">028</ion-col>
  </ion-row>
</ion-grid>
</ion-content>
