<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-color: aqua;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <%- include('navbar/navbar.ejs') %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>
</body>
</html>