<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
</ion-header>
<div class="main">
  <button>-----Refresh Information-----</button>
  <br>
  <button>PTSD</button>
  <button>ANXIETY</button>
  <button>CRIPLING DEPRESSION</button>
  <br>

  <span class="City">Galway, </span>
  <br>
  <span class="Date">1/1/2001</span>

  <div class="icon">
    <img src="" alt="">
  </div>
  <span class="description">Description</span>
  <span class="temperature">Temperature</span>
</div>
<br>
<br>
<br>
<ion-grid>
  <ion-row>
    <ion-col class="day">1</ion-col>
    <ion-col class="day">2</ion-col>
    <ion-col class="day">3</ion-col>
    <ion-col class="day">4</ion-col>
    <ion-col class="day">5</ion-col>
    <ion-col class="day">6</ion-col>
    <ion-col class="day">7</ion-col>
  </ion-row>

  <ion-row>
  <ion-col class="precipitation">1</ion-col>
  <ion-col class="precipitation">2</ion-col>
  <ion-col class="precipitation">3</ion-col>
  <ion-col class="precipitation">4</ion-col>
  <ion-col class="precipitation">5</ion-col>
  <ion-col class="precipitation">6</ion-col>
  <ion-col class="precipitation">7</ion-col>
</ion-row>

  <ion-row>
    <ion-col class="icon-sm"><img src="Cloud.png"></ion-col>
    <ion-col class="icon-sm"><img src="Cloud.png"></ion-col>
    <ion-col class="icon-sm"><img src="Cloud.png"></ion-col>
    <ion-col class="icon-sm"><img src="Cloud.png"></ion-col>
    <ion-col class="icon-sm"><img src="Cloud.png"></ion-col>
    <ion-col class="icon-sm"><img src="Cloud.png"></ion-col>
    <ion-col class="icon-sm"><img src="Cloud.png"></ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="hi-sm">Test</ion-col>
    <ion-col class="hi-sm">Test</ion-col>
    <ion-col class="hi-sm">Test</ion-col>
    <ion-col class="hi-sm">Test</ion-col>
    <ion-col class="hi-sm">Test</ion-col>
    <ion-col class="hi-sm">Test</ion-col>
    <ion-col class="hi-sm">Test</ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="lo-sm">Test</ion-col>
    <ion-col class="lo-sm">Test</ion-col>
    <ion-col class="lo-sm">Test</ion-col>
    <ion-col class="lo-sm">Test</ion-col>
    <ion-col class="lo-sm">Test</ion-col>
    <ion-col class="lo-sm">Test</ion-col>
    <ion-col class="lo-sm">Test</ion-col>
  </ion-row>

</ion-grid>
</ion-content>