<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Weather App
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Button Navigation display-->
  <ion-button [routerLink]="'calendar'"routerDirection="forward">Page 1</ion-button>
  <br>
  <ion-button [routerLink]="'storage'"routerDirection="forward">Page 2</ion-button>
  <br>
  <ion-button [routerLink]="'blank'"routerDirection="forward">Page 3</ion-button>

  <div class="main">
   <span class="City">City</span>
   <br>
   <span class="Date">Day, time</span>
   <!--
   <span class="Date">{{ res.current.dt }}</span>
   -->
   <br>
  <div class="icon">
    <img src="../../assets/icon/Cloud.png" alt="">
    <!--NON-WORKING CODE\Adds weather icon from URL
    <img src="http://openweathermap.org/img/wn{{ res.current.weather[0].icon }}@2x.png" alt="Cloud.png">
    -->
  </div>
    <span class="description">Weather</span>
    <!--NON-WORKING CODE
    <span class="description">{{ res.current.weather[0].main }}</span>
    -->
    <span class="temperature">Temperature</span>
    <!--NON-WORKING CODE
    <span class="temperature">{{ res.current.temp | number '1.0-0' }}</span>
    -->
 </div>
 <!-- Forecast -->
 <ion-grid>
   <ion-row>
     <ion-col class="day">Day</ion-col>
     <ion-col class="day">Day</ion-col>
     <ion-col class="day">Day</ion-col>
     <ion-col class="day">Day</ion-col>
     <ion-col class="day">Day</ion-col>
     <ion-col class="day">Day</ion-col>
     <ion-col class="day">Day</ion-col>
     <!--NON-WORKING CODE
    <ion-col class="day">{{ res.daily[0].dt}}</ion-col>
    <ion-col class="day">{{ res.daily[1].dt}}</ion-col>
    <ion-col class="day">{{ res.daily[2].dt}}</ion-col>
    <ion-col class="day">{{ res.daily[3].dt}}</ion-col>
    <ion-col class="day">{{ res.daily[4].dt}}</ion-col>
    <ion-col class="day">{{ res.daily[5].dt}}</ion-col>
    <ion-col class="day">{{ res.daily[6].dt}}</ion-col>
     -->
   </ion-row>

   <!-- Chance of Precipitation -->
   <ion-row>
   <ion-col class="precipitation">03%</ion-col>
   <ion-col class="precipitation">03%</ion-col>
   <ion-col class="precipitation">03%</ion-col>
   <ion-col class="precipitation">03%</ion-col>
   <ion-col class="precipitation">03%</ion-col>
   <ion-col class="precipitation">03%</ion-col>
   <ion-col class="precipitation">03%</ion-col>
     <!--NON-WORKING CODE
  <ion-col class="precipitation">{{ res.daily.[0].rain | number '1.0-0' }}</ion-col>
  <ion-col class="precipitation">{{ res.daily.[0].rain | number '1.0-0' }}</ion-col>
  <ion-col class="precipitation">{{ res.daily.[0].rain | number '1.0-0' }}</ion-col>
  <ion-col class="precipitation">{{ res.daily.[0].rain | number '1.0-0' }}</ion-col>
  <ion-col class="precipitation">{{ res.daily.[0].rain | number '1.0-0' }}</ion-col>
  <ion-col class="precipitation">{{ res.daily.[0].rain | number '1.0-0' }}</ion-col>
  <ion-col class="precipitation">{{ res.daily.[0].rain | number '1.0-0' }}</ion-col>
  <ion-col class="precipitation">{{ res.daily.[0].rain | number '1.0-0' }}</ion-col>
     -->
  </ion-row>

  <!-- weather icon -->
  <ion-row>
    <ion-col class="icon-sm"><img src="../../assets/icon/Sun.png"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/icon/Sun.png"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/icon/Sun.png"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/icon/Sun.png"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/icon/Sun.png"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/icon/Sun.png"></ion-col>
    <ion-col class="icon-sm"><img src="../../assets/icon/Sun.png"></ion-col>
    <!--NON-WORKING CODE
    <ion-col class="icon-sm"><img src="http://openweathermap.org/img/wn{{ res.daily[0].weather[0].icon }}@2x.png"></ion-col>
    <ion-col class="icon-sm"><img src="http://openweathermap.org/img/wn{{ res.daily[1].weather[0].icon }}@2x.png"></ion-col>
    <ion-col class="icon-sm"><img src="http://openweathermap.org/img/wn{{ res.daily[2].weather[0].icon }}@2x.png"></ion-col>
    <ion-col class="icon-sm"><img src="http://openweathermap.org/img/wn{{ res.daily[3].weather[0].icon }}@2x.png"></ion-col>
    <ion-col class="icon-sm"><img src="http://openweathermap.org/img/wn{{ res.daily[4].weather[0].icon }}@2x.png"></ion-col>
    <ion-col class="icon-sm"><img src="http://openweathermap.org/img/wn{{ res.daily[5].weather[0].icon }}@2x.png"></ion-col>
    <ion-col class="icon-sm"><img src="http://openweathermap.org/img/wn{{ res.daily[6].weather[0].icon }}@2x.png"></ion-col>
     -->
  </ion-row>

  <!-- Max Temperature -->
  <ion-row>
    <ion-col class="hi-sm">5°c</ion-col>
    <ion-col class="hi-sm">10°c</ion-col>
    <ion-col class="hi-sm">15°c</ion-col>
    <ion-col class="hi-sm">20°c</ion-col>
    <ion-col class="hi-sm">25°c</ion-col>
    <ion-col class="hi-sm">25°c</ion-col>
    <ion-col class="hi-sm">25°c</ion-col>
    <!--NON-WORKING CODE
    <ion-col class="hi-sm">{{ res.daily[0].temp.max | number: '1.0-0' }}</ion-col>
    <ion-col class="hi-sm">{{ res.daily[1].temp.max | number: '1.0-0' }}</ion-col>
    <ion-col class="hi-sm">{{ res.daily[2].temp.max | number: '1.0-0' }}</ion-col>
    <ion-col class="hi-sm">{{ res.daily[3].temp.max | number: '1.0-0' }}</ion-col>
    <ion-col class="hi-sm">{{ res.daily[4].temp.max | number: '1.0-0' }}</ion-col>
    <ion-col class="hi-sm">{{ res.daily[5].temp.max | number: '1.0-0' }}</ion-col>
    <ion-col class="hi-sm">{{ res.daily[6].temp.max | number: '1.0-0' }}</ion-col>
     -->
  </ion-row>

  <!-- Min Temperature -->
  <ion-row>
    <ion-col class="lo-sm">5°c</ion-col>
    <ion-col class="lo-sm">5°c</ion-col>
    <ion-col class="lo-sm">10°c</ion-col>
    <ion-col class="lo-sm">15°c</ion-col>
    <ion-col class="lo-sm">20°c</ion-col>
    <ion-col class="lo-sm">20°c</ion-col>
    <ion-col class="lo-sm">20°c</ion-col>
    <!--NON-WORKING CODE
    <ion-col class="lo-sm">{{ res.daily[0].temp.min | number: '1.0-0' }}</ion-col>
    <ion-col class="lo-sm">{{ res.daily[1].temp.min | number: '1.0-0' }}</ion-col>
    <ion-col class="lo-sm">{{ res.daily[2].temp.min | number: '1.0-0' }}</ion-col>
    <ion-col class="lo-sm">{{ res.daily[3].temp.min | number: '1.0-0' }}</ion-col>
    <ion-col class="lo-sm">{{ res.daily[4].temp.min | number: '1.0-0' }}</ion-col>
    <ion-col class="lo-sm">{{ res.daily[4].temp.min | number: '1.0-0' }}</ion-col>
    <ion-col class="lo-sm">{{ res.daily[5].temp.min | number: '1.0-0' }}</ion-col>
     -->
  </ion-row>
 </ion-grid>
</ion-content>